.default {
  background-color: var(--color-button-default);
  padding: var(--rounding);
  cursor: pointer;
}

.add {
  background-color: var(--color-button-add);
  padding: var(--rounding);
  cursor: pointer;
}

.auth {
  background-color: var(--color-button-auth);
  padding: 10px;
  border-radius: var(--rounding);
  cursor: pointer;
}
