@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --rounding: 10px;
  --color-button-default: #ff5d5d;
  --color-button-add: #62ff5d;
  --color-button-auth: #ff5d5d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-button-default: #880000;
    --color-button-add: #047e00;
    --color-button-auth: #880000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
